# Python
__pycache__/
*.pyc
.env

# Node
node_modules/
.next/

# PostgreSQL
*.sql.backup
database/backups/

# OS files
.DS_Store

# Runtime logs
logs/

# IDE
.vscode/

# Environment
.env
.env.production